﻿@{
    ViewData["Title"] = "Index";
}
<link href="~/css/custom.css" rel="stylesheet" />

<div class="container" id="mainList">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2> <b> Manage Clients</b></h2>
                    <br />
                    <div>
                        <input id="search" placeholder="Search" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-outline-success" onclick="OpenForm()"><h6><b>Add New Client</b></h6></button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" id="clientsTable">
        </table>
    </div>
</div>

<!-- Add Modal HTML -->
<div id="addClientModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Client</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form id="clientForm">
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">First Name</label>
                        <input type="text" name="firstName" class="form-control" id="firstname" placeholder="enter first name">
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-form-label">Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="lastname" placeholder="enter last name">
                    </div>
                    <div class="form-group">
                        <label for="birthdate" class="col-form-label">BirthDate</label>
                        <input type="text" name="dob" class="form-control date" id="birthdate" placeholder="enter birthdate">
                    </div>
                    <div class="form-group">
                        <label for="maritalstatus" class="col-form-label">Marital Status</label>
                        <select class="form-control" id="maritalstatus" name="maritalStatusId">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mobilenumber" class="col-form-label">Mobile Number</label>
                        <input type="text" name="mobileNumber" class="form-control" id="mobilenumber" placeholder="enter mobile number">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" name="email" class="form-control" id="email" placeholder="enter email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-info" data-dismiss="modal" value="Close">
                <input type="button" class="btn btn-success" value="Save" onclick="saveClient()">
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

    </script>
}
